:root { 
  box-sizing: border-box; 

  --font-heading: 'Playfair Display', serif;
  --font-body: 'Poppins', sans-serif;
}

*, *::before, *::after { box-sizing: inherit }

html, body, #root { height: 100% }

body {
  margin: 0;
  font-family: var(--font-body);
  background:#F9F9F9;
  color: #2A2A2A;
}


